## Instalar dependencias y definir esquema

In [1]:
#importar modulos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, Normalizer
from sklearn.model_selection import train_test_split, GridSearchCV
import joblib
from sklearn import linear_model
from sklearn.svm import SVC
from sklearn.metrics import classification_report
import mysql.connector

#columnas numericas
continuous = ["culmen_length_mm", "culmen_depth_mm",
    "flipper_length_mm", "body_mass_g"]

#columnas categoricas
categorical = ["species","island","sex"]

## Crear Tablas

In [13]:
#iniciar conexion con mysql
conn = mysql.connector.connect(
    host="10.43.101.168",       # e.g., "localhost" or your database server
    user="mlflow",   # e.g., "root"
    password="mlflow",
    database="mlflow"
)
cursor = conn.cursor()

#crear tablas de datos crudos y datos procesados
cursor.execute("""
        CREATE TABLE IF NOT EXISTS penguins (
            species VARCHAR(20),
            island VARCHAR(20),
            culmen_length_mm FLOAT,
            culmen_depth_mm FLOAT,
            flipper_length_mm FLOAT,
            body_mass_g FLOAT,
            sex VARCHAR(20)
        )
        """)

cursor.execute("""
        CREATE TABLE IF NOT EXISTS penguins_proc (
            species INTEGER,
            island INTEGER,
            culmen_length_mm FLOAT,
            culmen_depth_mm FLOAT,
            flipper_length_mm FLOAT,
            body_mass_g FLOAT,
            sex INTEGER
        )
        """)

conn.commit()

## Cargar Datos Crudos a MySQL

In [14]:
#leer csv
df = pd.read_csv("penguins_size.csv").dropna()

#crear query que inserta datos
query = "INSERT INTO penguins (species, island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g,	sex) \
    VALUES (%s, %s, %s, %s, %s, %s, %s)"

#almacenar datos en tuplas
values = [tuple(row) for row in df.values]

#insertar datos en mysql
cursor.executemany(query, values)
conn.commit()

df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

## Preprocesar datos

In [23]:
#cargar datos de mysql a un dataframe
query = "SELECT * FROM penguins"
cursor.execute(query)
columns = [col[0] for col in cursor.description]
df = pd.DataFrame(cursor.fetchall(), columns=columns)

# Codificar variables categoricas
le = LabelEncoder()
for variable in categorical:
    df[variable] = le.fit_transform(df[variable])

# Normalizar variables numericas
scaler = Normalizer()
df[continuous] = scaler.fit_transform(df[continuous])

#convertir datos a tipo facil de convertir a mysql
df = df.astype(object)  

#queyr para insertar datos
query = "INSERT INTO penguins_proc (species, island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, sex) \
VALUES (%s, %s, %s, %s, %s, %s, %s)"

#almacenar datos en tuplas
values = [tuple(row) for row in df.values]

#insertar datos en mysql
cursor.executemany(query, values)
conn.commit()

df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,0.010414,0.004981,0.048207,0.998771,2
1,0,2,0.010382,0.004573,0.048886,0.99874,1
2,0,2,0.012377,0.005528,0.059887,0.998113,1
3,0,2,0.01062,0.005585,0.055851,0.998367,1
4,0,2,0.010752,0.005636,0.051981,0.998574,2

## Entrenamiento de Modelos

In [26]:
#cargar datos procesados de mysql a dataframe
query = "SELECT * FROM penguins_proc"
cursor.execute(query)
columns = [col[0] for col in cursor.description]
df = pd.DataFrame(cursor.fetchall(), columns=columns)

#separar etiqueta de descriptores
y = df['species']
X = df.drop(['species'], axis=1)

# dividir datos entre train y test
X_train, X_test,y_train, y_test = train_test_split(X,y , 
                               random_state=50,  
                               test_size=0.30) 

X_train.head()

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
766,0,0.012928,0.006345,0.065833,0.997727,1
2006,2,0.012377,0.005528,0.059887,0.998113,1
2407,2,0.010059,0.004348,0.045831,0.998889,2
1751,1,0.010527,0.005306,0.053918,0.998476,1
1705,1,0.011567,0.005704,0.057677,0.998252,1

In [31]:
# definir malla de hiperparametros
param_grid = {
    'C': [0.1, 1, 10, 100],
    'gamma': ['scale', 'auto', 0.01, 0.1, 1],
}

# inicializar svm
svm = SVC()

# buscar hiperparametros mas optimos
grid_search = GridSearchCV(svm, param_grid, cv=5, scoring='accuracy', n_jobs=-1)
grid_search.fit(X_train, y_train)

# mejor modelo
model = grid_search.best_estimator_

# resultado
print("Best Parameters:", grid_search.best_params_)

Best Parameters: {'C': 100, 'gamma': 1}

## Registro de modelos

## Borrar Tablas

In [30]:
query = "DROP TABLE IF EXISTS penguins"
cursor.execute(query)

query = "DROP TABLE IF EXISTS penguins_proc"
cursor.execute(query)

conn.commit()

cursor.close()
conn.close()